@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Anton', sans-serif;
    font-family: 'Space Mono', sans-serif;
    background-image: url(../logo/fondo.jpg), linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
    background-attachment: fixed;
    background-blend-mode: multiply;
    transition: all .3s ease;
    font-size: 18px;
    
    
}

.simulator-container {
    background-color: rgb(232, 232, 232);
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 820px rgba(255, 255, 255, 0.55);
    text-align: center;
    transition: all .3s ease;
}
.sub p{
    margin: 23px;
}
h1{
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}
#alumno-form{
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #2b39a4d3;
    color: #fff;
    font-size: 19px;
    border: none;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Anton', sans-serif;
    font-family: 'Space Mono', sans-serif;
}

button:hover {
    background-color: #191e5ecd;
    transition: .4s;
}
