@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:ital,wght@1,300&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Anton', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    background-image: url(../logo/fondo.jpg);
    transition: all .3s ease;
}

.simulator-container {
    background-color: rgb(249, 249, 249);
    padding: 60px;
    border-radius: 8px;
    border: rgba(255, 106, 0, 0.6) solid 1px;
    box-shadow: 0 0 820px rgba(201, 67, 0, 0.55);
    text-align: center;
    transition: all .3s ease;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #c5380dcd;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Anton', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
}

button:hover {
    background-color: #922504cd;
    transition: .4s;
}
